<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sh3h.zxing" xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/AppTheme.StatusBar">
        <activity
            android:name=".activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:label="@string/activity_capture"/>
    </application>
</manifest>